{% extends "base/user_base.html" %}
{% block title %}買い物リスト{% endblock %}
{% block active_shoppinglist %}active{% endblock %}
{% block content %}
<a class='btn btn-warning d-none d-md-inline mx-4' href="{% url 'shoppinglist:create' %}">商品追加</a>
<a class='btn btn-warning d-block d-md-none' href="{% url 'shoppinglist:create' %}">商品追加</a>
{% endblock %}
{% block content2 %}
<!-- md -->
{% for info in infos %}
    <h4 class='d-none d-md-block mx-4 mt-2'>{{info.name}} : ¥{{info.total}}</h4>
    <table class='table text-center table-striped table-bordered d-none d-md-block mx-4'>
      <thead>
        <tr class='table-info'>
          <th scope='col'></th>
          <th class="w-25" scope='col'>商品名</th>
          <th class="w-25" scope='col'>店</th>
          <th scope='col'>価格</th>
          <th scope='col'>個数</th>
          <th scope='col'>経過日数</th>
          <th class="float-right" scope='col'>メニュー</th>
        </tr>
      </thead>
      <tbody>
        {% for shopping in info.shoppings %}
          <tr>
            <th scope='row'>{{ forloop.counter }}</th>
            <td>{{ shopping.name }}</td>
            <td>{{ shopping.shop }}</td>
            <td>{% if shopping.price != 0 %}¥{{ shopping.price }}{% endif %}</td>
            <td>{{ shopping.count }}</td>
            <td>{% if shopping.days %}{{ shopping.days }}日{% endif %}</td>
            <td>
              <div class="dropdown">
                <button type="button" class="btn-xs btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span>menu</button>
                <ul class="dropdown-menu" role="menu">
                  {% if shopping.buy_or_not == True %}
                    <li><a class='btn btn-info btn-block' href="{% url 'shoppinglist:must_buy' shopping.id %}">未購入にする</a></li>
                  {% else %}
                    <li><a class='btn btn-info btn-block' href="{% url 'shoppinglist:buy' shopping.id %}">購入済みにする</a></li>
                  {% endif %}
                  <li><a class='btn btn-info btn-block my-1' href="{% url 'shoppinglist:update' shopping.id %}">編集</a></li>
                  <li><a class='btn btn-info btn-block' href="{% url 'shoppinglist:delete' shopping.id %}">削除</a></li>
                </ul>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endfor %}
<!-- sm -->
{% for info in infos %}
    <table class='table table-sm table-light text-center table-striped d-none d-sm-block d-md-none'>
      <caption>{{info.name}} : ¥{{info.total}}</caption>
      <thead class='thead-dark'>
        <tr class=''>
          <th class='w-25' scope='col'>Item</th>
          <th class='w-25'　scope='col'>Shop</th>
          <th scope='col'>Price</th>
          <th scope='col'>Past</th>
          <th class='' scope='col'>Menu</th>
        </tr>
      </thead>
      <tbody>
        {% for shopping in info.shoppings %}
          <tr>
            <td>{{ shopping.name }}</td>
            <td>{{ shopping.shop }}</td>
            <td class='text-right'>{% if shopping.price != 0 %}¥{{ shopping.price }}{% endif %}　×{{ shopping.count }}</td>
            <td>{% if shopping.days %}{{ shopping.days }}日{% endif %}</td>
            <td>
              <div class="dropdown">
                <button type="button" class="btn-xs btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span>menu</button>
                <ul class="dropdown-menu" role="menu">
                  {% if shopping.buy_or_not == True %}
                    <li><a class='btn btn-primary btn-block' href="{% url 'shoppinglist:must_buy' shopping.id %}">未購入にする</a></li>
                  {% else %}
                    <li><a class='btn btn-primary btn-block' href="{% url 'shoppinglist:buy' shopping.id %}">購入済みにする</a></li>
                  {% endif %}
                  <li><a class='btn btn-primary btn-block my-1' href="{% url 'shoppinglist:update' shopping.id %}">編集</a></li>
                  <li><a class='btn btn-primary btn-block' href="{% url 'shoppinglist:delete' shopping.id %}">削除</a></li>
                </ul>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endfor %}
<!-- xs -->
{% for info in infos %}
        <table class='table table-light text-center table-sm table-striped table-responsive d-block d-sm-none'>
          <caption>{{info.name}} : ¥{{info.total}}</caption>
          <thead class='thead-dark'>
            <tr class=''>
              <th class='w-25' scope='col'>Item</th>
              <th class='w-25' scope='col'>Shop</th>
              <th scope='col'>Price</th>
              <th scope='col'>×</th>
              <th class='w-25' scope='col'>Menu</th>
            </tr>
          </thead>
          <tbody>
            {% for shopping in info.shoppings %}
            <tr>
              <td>{{ shopping.name }}</td>
              <td>{{ shopping.shop }}</td>
              <td>{% if shopping.price != 0 %}¥{{ shopping.price }}{% endif %}</td>
              <td>×{{ shopping.count }}</td>
              <td>
                <div class="dropdown">
                  <button type="button" class="btn-xs btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span>menu</button>
                  <ul class="dropdown-menu" role="menu">
                    {% if shopping.buy_or_not == True %}
                      <li><a class='btn btn-info btn-block' href="{% url 'shoppinglist:must_buy' shopping.id %}">未購入にする</a></li>
                    {% else %}
                      <li><a class='btn btn-info btn-block' href="{% url 'shoppinglist:buy' shopping.id %}">購入済みにする</a></li>
                    {% endif %}
                    <li><a class='btn btn-info btn-block my-1' href="{% url 'shoppinglist:update' shopping.id %}">編集</a></li>
                    <li><a class='btn btn-info btn-block' href="{% url 'shoppinglist:delete' shopping.id %}">削除</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
{% endfor %}
{% endblock %}
